:root {
  --text: #f2ebfa;
  --background: #0f0e11;
  --primary: #995dd5;
  --secondary: #d55dd5;
  --accent: #5d5dd5;

  --large: "Noto Sans", sans-serif;
  --small: "Mukta Vaani", sans-serif;
}

body {
  background-color: var(--background);
  min-height: 100vh;
}
.page-cat {
  width: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-card-img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 25px;
}
.cat-card {
  display: flex;
  width: 740px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 140px 0 100px 0;
  gap: 15px;
}
.cat-card .title {
  color: var(--text);
  font-family: var(--large);
}
.cat-card button {
  z-index: 20;
  border: 0;
  font-family: var(--small);
  background-color: var(--primary);
  border-radius: 8px;
  padding: 8px 0;
  width: 250px;
  transition: 0.5s;
  flex: 1;
}

.cat-card button:hover {
  background-color: var(--accent);
  cursor: pointer;
  transition: 0.5s;
}
.cat-card .cat-link button {
  color: var(--text);
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}
.cat-card .cat-link {
  flex: 1;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.btn-grp {
  display: flex;
  width: 100%;
  gap: 15px;
}

.cat-card select {
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  outline: none;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .cat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 650px;

    margin-top: 100px;
    gap: 20px;
  }
  .cat-card-img {
    width: 100%;
  }
  .cat-card select {
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    /* outline: none; */
    padding: 0.5rem;
    text-align: center;
  }
  .btn-grp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex: 1;
    padding: 15px;
  }
  .cat-card button {
    flex: 1;
    border: 0;
    font-family: var(--small);
    background-color: var(--primary);
    border-radius: 8px;
    transition: 0.5s;
  }
}
