@import url("../variables.css");
*{
    margin: 0;
}
.nav-bar-home {
    background-color: var(--background);
    padding: 1.3rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.all-card{
    display: grid;
    grid-template-columns: repeat(4,0.5fr) ;
    margin-left: 10px;
    margin-top: 15px;
    gap: 30px;
}
.card img{
    width: 300px;
    height: 220px;
    object-fit: cover;
}
.card input{
    width: 200px;
    text-align: center;
}
.card button{
    background-color: var(--background);
    
}