:root {
  --text: #f2ebfa;
  --background: #0f0e11;
  --primary: #995dd5;
  --secondary: #d55dd5;
  --accent: #5d5dd5;

  --large: "Noto Sans", sans-serif;
  --small: "Mukta Vaani", sans-serif;
}
.all-quiz {
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions-container {
  margin-top: 10%;
}
.all-quiz button {
  z-index: 20;
  border: 0;
  font-family: var(--small);
  background-color: var(--primary);
  border-radius: 8px;
  padding: 8px 0;
  color: var(--text);
  cursor: pointer;
  width: 150px;
  text-transform: uppercase;
  transition: 0.5s;
}
.all-quiz .cancel-link {
  color: white;
  text-transform: uppercase;

  text-decoration: none;
  font-family: var(--small);
}
.check-btn {
  color: var(--text);
  text-transform: uppercase;

  font-family: var(--small);
  text-decoration: none;
}
.result-container {
  width: 50%;
  /* outline: 1px solid red; */
  margin-left: 13%;
  justify-content: center;
}
.result-container button:hover {
  background-color: var(--accent);
  cursor: pointer;
  transition: 0.5s;
}
.result-btn-grp {
  display: flex;
  justify-content: space-between;
  /* outline: solid red; */
  width: 65%;
}

.check-btn-grp {
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.button-ch-container {
  width: 50%;
  margin-top: 2%;
  /* outline: 1px solid red; */
  margin-left: 13%;
  justify-content: center;
}
